@model IEnumerable<INTELISIS.APPCORE.EL.ControlGarantias>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProveedorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicioGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoGarantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoGarantia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProveedorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicioGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoGarantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoGarantia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GarantiaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GarantiaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GarantiaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
